extends layout

block menu
  include menu  
block content
    div(class="p1-cont")
            if !success
                div(style="display:block" class="alert alert-danger" role="alert")=message
            div(class="modal")
              div#loader(style="display: none")
            if success
                h4 Total de projetos: #{projeto.length}
                table(class="table table-borderless")
                    thead 
                        tr(class="projetos")
                            th(scope="col1") Código                         
                            th(scope="col2") Nome
                            th(scope="col3") Data criação
                            th Download  
                    tbody 

                        each value in projeto
                            tr
                                td
                                    a(href=value.url) #{value._id}                           
                                td=value.nome 
                                -function formataData(value){ const mes = [];mes[0] = "01";mes[1] = "01";  mes[2] = "02";mes[3] = "03"; mes[4] = "04";mes[5] = "05";mes[6] = "06";mes[7] = "07";mes[8] = "08";mes[9] = "09";mes[10] = "10";mes[11] = "11";mes[12] = "12";return (value.dataCriacao.getDate()<10 ? "0" +value.dataCriacao.getDate() : value.dataCriacao.getDate())  + "/" + mes[value.dataCriacao.getMonth()] + "/" + value.dataCriacao.getFullYear()}                                             
                                td #{formataData(value)}
                                td
                                    a(href='/api/result/'+ value._id download) Baixar
            else
                h4 Você não possui nenhum projeto    
                table(class="table table-borderless")
                    thead 
                        tr
                            td(scope="col1") Projeto
                            td(scope="col1") Data criação
                            td Download  
                   
                    