
div(style="display:flex; flex-direction:column; align-items: center")
      div(  style="background-color:#ececf7;")
          div
            p="Para que as medidas sejam geradas corretamente, o nome dos arquivos reference e system devem estar de acordo com o seguinte formato:"
          div
            span(style="font-weight:bolder") References:
            p nomeTarefa_EnglishReference1 
          div
            b nomeTarefa: 
            p nome do projeto
          div
            p EnglishReference1: 
          div
            p linguagem + nome da referência (se houver mais de uma referência para a mesma língua, deve-se acrescentar um contador - "nomeTarefa_FrenchReference1")
            b é obrigatório o uso do "_" separando o nome da tarefa do nome da referência. 
            b(style="color: #2F3962") 
            p Tanto os arquivos references quanto os systems, devem seguir esse padrão para composição do nome do arquivo.
      
      div(class="modal")
        div#loader(style="display: none") Gerando medidas...
      div(style="display:flex")
          form(method="POST" name="rouge" action="/novo_projeto" enctype="multipart/form-data")
            if message && !success
              
              div#modal-erro(style="display:block" class="alert alert-danger" role="alert")=message
            else
              div(style="display:none" class="alert alert-danger" role="alert")=message
            div(id="g" class="container-fluid" style="background-color: #ececf7;")
              
              //- div(class="group" style="margin-top: 20px; display:flex; flex-direction: row; margin-right:10px")
                input#check_rouge(type="checkbox" checked name="default_rouge")
                span(style="color:#2F3962;font-size:18px;font-weight:bold; position:absolute;pointer-events:none;left:5px;top:-20px;text-align: center;") Usar padrão ROUGE
              div(class="input_container")                  
                  div(class="group")
                    div(style="display: flex; flex-direction: column")    
                      div(class="input_rouge" style="display: flex; margin-left: -5px; flex-direction: row")                   
                            div(class="icon-info")        
                              span(class="tooltiptext")
                              svg(name="stemmer_name" style="width=25px;" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16")
                                path( fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z")
                                path(d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z")
                                circle(cx="8" cy="4.5" r="1")       
                            div(style="margin-right:171px")
                                span(class="label_form") Usar Corpus:  
                      div 
                        input#corpus(class="checkbox" type="checkbox" name="corpus")
                    
                      div(class="group")            
                          div(style="display: flex; flex-direction: column; width: 310px")                              
                              div(class="input_rouge" style="display: flex; flex-direction: row")                   
                                div(class="icon-info")        
                                  span(class="tooltiptext")
                                  svg(name="corpus" style="width=25px;" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16")
                                    path( fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z")
                                    path(d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z")
                                    circle(cx="8" cy="4.5" r="1")       
                                div(style="margin-right:171px")
                                    span(class="label_form") Corpus dataset:    
                              div(style="margin-right:70px;")                  
                                select#corpus_dataset(disabled class="form-control" name="corpus_dataset")                   
                                  optgroup(label="Meus Corpus")
                                   if corpus                                  
                                    -for (var i=0; i< corpus.length; i++)
                                      - var id = corpus[i].usuario.toString()
                                        if id == idUser                                       
                                            option(value=corpus[i]._id + '|' + id) #{(corpus[i].nome_corpus)}
                                  optgroup(label="Corpus Global")    
                                    if corpus
                                      -for (var i=0; i< corpus.length; i++)
                                        - var id = corpus[i].usuario.toString()
                                          if id != idUser                                       
                                              option(value=corpus[i]._id + '|' + id.toString()) #{(corpus[i].nome_corpus)}
                                                                                                           
                                       
                                   
             
              div(class="input_container")              
                  div(class="group")
                    input#projeto(type="text", required name="projeto")
                    label Nome do projeto: 
                    span(class="highlight")
                    span(class="bar")   
                    -var ngram = "Ngram:  "
                    -ngram += "Opções:1,2,3,..N; S1,S2,S3...SN; SU1, SU2, SU3...SUN; L. Você pode especificar múltiplas métricas rouge, basta usar vírgula separando."
                  div(class="icon-info" style="top:22px" data-toggle="tooltip" title= ngram)         
                    svg(name="ngram" style="width=25px;" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16")
                      path( fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z")
                      path(d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z")
                      circle(cx="8" cy="4.5" r="1")
                  div(class="group")
                      input#ngram( type="text" name="ngram")                         
                      span#ngramLabel(class="label_span") Ngram (rouge métricas):                          
                      span(class="highlight")
                      span(class="bar")
                      -var beta = "Beta: " 
                      - beta += "Este campo é usado para calcular o F-score. O valor beta '1' é equivalente à média harmônica entre 'precision' e 'recall'. Use um valor beta grande para dar mais peso para 'recall'. Definir um valor beta < 1, dá preferência ao 'precision'. Use 0.5 se você quiser dar mais peso ao 'precision'"
                  div(class="icon-info" style="top:22px" data-toggle="tooltip" title= beta)         
                      svg(style="width=25px;" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16")
                        path( fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z")
                        path(d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z")
                        circle(cx="8" cy="4.5" r="1")        
                  div(class="group")    
                      div(style="margin-right:70px")                    
                        input#beta( type="text" name="beta" oninput="this.value = this.value.replace(/[^.0-9.]/g, '')")    	
                        span#betaLabel(class="label_span") Beta
                        span(class="highlight")
                        span(class="bar")            
              div(class="input_container")           
                  div(style="display: flex")
                      span(class="label_form_default" style="color:#2F3962") Arquivos reference:   
                  div(class="group" style="margin-top:20px")             
                    div(style="display: flex")
                      input#reference(type="file" class="form-control-file" required multiple=true name="reference")
                  div(style="display: flex")
                      span(class="label_form_default" style="color:#2F3962") Arquivos system:          
                  div(class="group" style="margin-top:20px")            
                      input#system(type="file" class="form-control-file" required multiple=true name="system")
                  div(class="group" style="margin-top:-10px")            
                    div(style="display: flex; flex-direction: column")
                      div(class="input_rouge" style="display: flex; flex-direction: row")
                          -var posTagger = "POS Tagger Name: " 
                          -posTagger += "configurações de POS Tagging (necessário para opções topic e synonyms). "
                          -posTagger +="Observe que isto é baseado nos marcadores Stanford disponíveis. As versões em alemão e francês nesta distribuição parecem não funcionar."
                          div(class="icon-info" data-toggle="tooltip" title=posTagger)           
                            svg(style="width=25px;" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16")
                              path( fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z")
                              path(d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z")
                              circle(cx="8" cy="4.5" r="1")
                          div(style="margin-right:171px")
                            span(class="label_form") Pos Tagger Name:    
                      div(style="margin-right:70px")
                          select#post_tagger( class="form-control" required=true name="post_tagger")                   
                            option(value="english-left3words-distsim.tagger") english-left3words-distsim.tagger
                            option(value="english-bidirectional-distsim.tagger") english-bidirectional-distsim.tagger
                            option(value="arabic.tagger") arabic.tagger
                            option(value="chinese-distsim.tagger") chinese-distsim.tagger
                            option(value="chinese-nodistsim.tagger") chinese-nodistsim.tagger                        
                            option(value="english-caseless-left3words-distsim.tagger") english-caseless-left3words-distsim.tagger
                            option(value="french.tagger") french.tagger - podem não funcionar
                            option(value="german-dewac.tagger") german-dewac.tagger - podem não funcionar
                            option(value="german-fast.tagger") german-fast.tagger - podem não funcionar
                            option(value="german-hgc.tagger") german-hgc.tagger - podem não funcionar  
              div(class="input_container")
                div(class="group")            
                  div(style="display: flex; flex-direction: column")
                    div(class="input_rouge" style="display: flex; flex-direction: row")
                      - var rougeType = "ROUGE Type: "
                      - rougeType += "opções: topic, topicUniq, normal. Não altere essa opção se você não tem certeza do que ela faz"
                      div(class="icon-info" data-toggle="tooltip" title=rougeType)
                        svg(style="width=25px;" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16")
                          path( fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z")
                          path(d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z")
                          circle(cx="8" cy="4.5" r="1")
                      div(style="margin-right:150px")
                        span(class="label_form") ROUGE type:   
                    div(style="margin-right:70px")
                      select#rouge_type( class="form-control" required=true name="rouge_type")
                        option(value="normal") normal   
                        option(value="topic") topic
                        option(value="topicUniq") topicUniq   
                div(class="group")            
                  div(style="display: flex; flex-direction: column")
                    div(class="input_rouge" style="display: flex; flex-direction: row")
                      - var rougeType = "Topic-Type: "
                      - rougeType += "opções: somente use essa opção se topic ou topicUniq estiver definido"
                      div(class="icon-info" data-toggle="tooltip" title=rougeType)
                        svg(style="width=25px;" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16")
                          path( fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z")
                          path(d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z")
                          circle(cx="8" cy="4.5" r="1")
                      div(style="margin-right:150px")
                        span(class="label_form") Topic-Type:   
                    div(style="margin-right:70px")
                        select#topic_type(disabled class="form-control" name="topic_type" multiple)
                          option(value="nn") nn
                          option(value="jj") jj
                          option(value="vb") vb
                          option(value="zgbpn") zgbpn        
                          option(value="prp") prp   
                div(class="group")            
                      div(style="display: flex; flex-direction: column")                              
                          div(class="input_rouge" style="display: flex; flex-direction: row")                   
                            div(class="icon-info")        
                              span(class="tooltiptext")
                              svg(name="stemmer_name" style="width=25px;" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16")
                                path( fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z")
                                path(d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z")
                                circle(cx="8" cy="4.5" r="1")       
                            div(style="margin-right:171px")
                              span(class="label_form") Stemmer Name:    
                          div(style="margin-right:70px")                  
                            select#stemmer_name(disabled class="form-control" name="stemmer_name")                   
                              option(value="englishStemmer") englishStemmer
                              option(value="danishStemmer") danishStemmer
                              option(value="turkishStemmer") turkishStemmer                      
                              option(value="frenchStemmer") frenchStemmer
                              option(value="germanStemmer") germanStemmer
                              option(value="dutchStemmer") dutchStemmer
                              option(value="portugueseStemmer") portugueseStemmer                                     
              
              div(class="input_container")
                div(class="group")
                    div
                      span(class="label_form") Usar Sinônimos:    
                    div(style="margin-top:20px")            
                      input#synonyms_use(class="checkbox" type="checkbox" name="synonyms_use")
                div(class="group")
                    div
                      span(class="label_form") Usar Stemmer:    
                    div(style="margin-top:20px")            
                      input#stemmer_use( class="checkbox" type="checkbox" name="stemmer_use")  
                div(class="group")
                    div
                      span(class="label_form") Usar Stopwords:     
                    div(style="margin-top:20px")            
                      input#stopwords_use(class="checkbox" type="checkbox" name="stopwords_use")  

              
                        
                
              div(class="group")
                input(class="input_btn" type="submit", id="start" value="Gerar medidas")


script(src="/javascripts/jquery-3.5.1.min.js")

script.
  (function(){
     $(document).ready(function(){
          $('#ngram').blur(function(){          
            if ($(this).val())
              $('#ngramLabel').addClass('used');
            else
              $('#ngramLabel').removeClass('used');
          });

           $('#beta').blur(function() {    
            if ($(this).val())
              $('#betaLabel').addClass('used');
            else
              $('#betaLabel').removeClass('used');
          });

        });  

  //  setTimeout(function(){op("#modal-erro").style.display = "none", 20000})

  $(window).on("load", function(){              
        if ($('#ngram').val())
              $('#ngramLabel').addClass('used');
            else
              $('#ngramLabel').removeClass('used');        
   
            if ( $('#beta').val())
              $('#betaLabel').addClass('used');
            else
              $('#betaLabel').removeClass('used');

               
        });

  op("#rouge_type").addEventListener("change", () =>{    
          0===0 ? pv() : null;                
    })
  op("input[name='stemmer_use']").addEventListener("click", () =>{
             0===0 ? b("#stemmer_name") : null;                
       })

  op("input[name='corpus']").addEventListener('click', () =>{      
      if(op("input[name='reference']").disabled == false){

        op("input[name='reference']").disabled = true
        b("#corpus_dataset");
      }else{
        op("input[name='reference'").disabled = false;
         b("#corpus_dataset");
        
      }
  })

  op("form[name='rouge']").addEventListener('submit', () =>{    
              "u+"==="u+" ? c() : null;      
 })
    
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
  });  
    
  })();
     
     
  
  
